<form
  action="https://buttondown.email/api/emails/embed-subscribe/wichitaultimate"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/wichitaultimate', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email"></input>
  <input type="hidden" value="1" name="embed"></input>
  <input type="submit" value="Subscribe"></input>
  <input type="hidden" name="tag" value="winter-league-1-2020"></input>
</form>