<footer class="bg-secondary">
  <div class="container flex flex-col py-6">
    <small class="text-quinary">
      Designed & Maintained by <a class="text-tertiary" href="https://jacobpfeifer.co">jacobpfeifer.co</a>
    </small>
    <small class="text-quinary">
      Check out the <a class="text-tertiary" href="{{ pkg.repository.url }}">GitHub repo</a>
    </small>
  </div>
</footer>
