<nav class="my-2">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex justify-between md:justify-start md:space-x-8">
  {%- for entry in navPages %}
    <li class="inline-block m-1 first:ml-0 ">
      <a class="px-1 py-2 rounded text-quinary uppercase" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
