<section class="">
  <form 
    class="block"
    id="newsletter"
    method="POST"
    data-netlify="true" 
    netlify-honeypot="bot-field"
  >
    <div class="hidden" hidden aria-hidden="true">
      <label> Don’t fill this out if you're human: 
        <input name="bot-field" />
      </label>
    </div>
        <div class="relative h-16 my-4 rounded-md box-border border border-solid border-secondary bg-white">
      <input
        class="absolute top-0 left-0 mt-8 pl-2 w-full focus:outline-none shadow-none bg-transparent"
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        placeholder="Your Email Address"
        title="The domain portion of the email address is invalid (the portion after the @)."
        pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
        required/>
      <label 
        class="absolute top-0 left-0 pt-2 pl-2 text-xs text-secondary"
        for="email"
        >Email
      </label>
    </div>
    <div class="relative h-16 my-4 rounded-md box-border border border-solid border-secondary bg-white">
      <input
        class="absolute top-0 left-0 mt-8 pl-2 w-full focus:outline-none shadow-none bg-transparent"
        type="text"
        name="metadata__first"
        id="metadata__first" 
        autocomplete="given-name"
        placeholder="Your First Name"
        title="Please enter your first name"
        required/>
      <label
        class="absolute top-0 left-0 pt-2 pl-2 text-xs text-secondary"
        for="metadata__first"
        >First Name
      </label>
    </div>
    <div class="relative h-16 my-4 rounded-md box-border border border-solid border-secondary bg-white">
      <input
        class="absolute top-0 left-0 mt-8 pl-2 w-full focus:outline-none shadow-none bg-transparent"
        type="text"
        name="metadata__last"
        id="metadata__last" 
        autocomplete="family-name"
        placeholder="Your Last Name"
        title="Please enter your last name"
        required/>
      <label 
        class="absolute top-0 left-0 pt-2 pl-2 text-xs text-secondary"
        for="last-name"
        >Last Name
      </label>
    </div>
    <div>
      <h4>What do want to receive emails about?</h4>
      <div>
        <input
          type="checkbox"
          name="tag"
          value="leagues"
          checked
        />Upcoming Leagues
      </div>
      <div>
        <input
          type="checkbox"
          name="tag"
          value="tournaments"
          checked
        />Local Tournaments
      </div>
      <div>
        <input
          type="checkbox"
          name="tag"
          value="events"
          checked
        />Clinics and Events
      </div>
    </div>
    <button type="submit" name="submit">SIGN UP</button>
  </form>
</div>