<section class="mb-8">
    <p class="py-2" >USA Ultimate's <a href="https://www.usaultimate.org/resources/officiating/rules/default.aspx#10simplerules">10 Simple Rules</a></p>
    <p class="py-2" >WFDF on <a href="http://www.wfdf.org/sports/ultimate/161-spirit-of-the-game-">Spirit of the Game</a></p>
    <blockquote class=" text-sm font-serif" cite="http://www.wfdf.org/sports/ultimate/161-spirit-of-the-game-">
    "Ultimate relies upon a Spirit of the Game that places the responsibility for fair play on every player. <strong>There are no referees;</strong> the players are solely responsible for following and enforcing the rules, even at World Championship. Competitive play is encouraged, but never at the expense of respect between players, adherence to the rules, and the basic joy of play."
    </blockquote> 
</section>