<section class="container" {% if game.url == url %} data-current="current item"{% endif %}>
	<h2 class="">Regularly Occuring Games</h2>
	{% for game in pickuplist %}
		<div class="bg-white rounded shadow-md p-4 mb-8">
			<h3 class="mt-0">
				<a href="{{ game.url | url }}">
					{% if game.data.title %}
						{{ game.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if game.data.content %}
			<div class="mb-4">
				<span class=" text-lg">
					{{ game.data.content | safe }}
				</span>
			</div>
			{% endif %}
			{% if game.data.skill %}
			<div class="mb-4">
				<label class="block mb-2 text-xs text-gray-600 uppercase">
					Skill Level
				</label>
				<span class="
					inline-block px-4 py-1 border font-medium bg-white rounded-full
					{% if game.data.skill == "Recreational" %} border-green-500 text-green-500 
					{% elseif game.data.skill == "Intermediate" %} border-yellow-500 text-yellow-500
					{% elseif game.data.skill == "Competitive"  %} border-orange-500 text-orange-500
					{% endif %}
					">
						{{ game.data.skill }}
				</span>
			</div>
			{% endif %}
			{% if game.data.ratio %}
			<div class="mb-4">
				<label class="block mb-2 text-xs text-gray-600 uppercase">
					Gender Ratio
				</label>
				<span class="
					inline-block px-4 py-1 border font-medium bg-white rounded-full
					{% if game.data.ratio == "Open" %} border-red-500 text-red-500
					{% elseif game.data.ratio == "Mixed" %} border-pink-500 text-pink-500
					{% elseif game.data.ratio == "Men's" %} border-purple-500 text-purple-500
					{% elseif game.data.ratio == "Women's" %} border-blue-500 text-blue-500
					{% endif %}
					">
						{{ game.data.ratio }}
				</span>
			</div>
			{% endif %}
			{% if game.data.address %}
			<div class="mb-4">
				<label class="block mb-2 text-xs text-gray-600 uppercase">
					Location
				</label>
				<span class="inline-block font-semibold">
					{{ game.data.address }}
				</span>
			</div>
			{% endif %}
            {% if game.data.frequency %}
			<div class="mb-4">
				<label class="mb-2 flex text-xs text-gray-600 uppercase">
					Time and Frequency
				</label>
				<span class="font-semibold">
					{{ game.data.frequency }}
				</span>
			</div>
			{% endif %}
            {% if game.data.discussion %}
			<div class="mb-4">
				<label class="mb-2 flex text-xs text-gray-600 uppercase">
					Discussion
				</label>
				<span class="font-semibold">
					<a href="{{ game.data.discussion | url }}">{{ game.data.discussion }}</a>
				</span>
			</div>
			{% endif %}
		</div>
	{% endfor %}
</section>
