<section class="">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="">
    {%- for entry in navPages %}
        <li class="">
            <a class="" href="{{ entry.url | url }}">{{ entry.title }}</a>
            <p>
            {% if page.url === "/" %}
                {{ entry.summary }}
            {% else %}
            {% endif %}
            </p>
        </li>
    {%- endfor %}
    </ul>
</section>


