<section>
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="">
    {%- for entry in navPages %}
        <li class="">
        <a class="" href="{{ entry.url | url }}">{{ entry.title }}</a>
        {% if page.url === "/" %}
            {{ entry.summary }}
        {% else %}
            False
        {% endif %}
        </li>
    {%- endfor %}
    </ul>
</section>


