<article class="mb-8 lg:mr-4 lg:last:mr-0 bg-white rounded-lg shadow-md .flex-initial w-full lg:w-5/16 " {% if post.url == url %} data-current="current item"{% endif %}>
    <div class="relative pb-9/16">
        <a href="{{ post.url | url }}">
            <img class="absolute top-0 object-cover h-full w-full rounded-t-lg"src="{{ post.data.img }}" alt="">
        </a>
    </div>
    <h3 class="my-2 px-2 pb-0">
        <a href="{{ post.url | url }}">
            {% if post.data.title %}
                {{ post.data.title }}
            {% else %}
                Untitled
            {% endif %}
        </a>
    </h3>
    {% if post.data.summary %}
        <p class="mb-2 px-2">
            {{ post.data.summary }}
        </p>
    {% endif %}
    <div class="flex px-2 pb-2">
            {% if post.data.tags %}
                {% for tag in post.data.tags %}
                {%- if tag != "post" -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag" class="inline-block align-top uppercase tracking-widest text-xs px-2 leading-6 h-6 bg-white border-primary border-solid border rounded mr-2 hover:bg-secondary hover:text-quinary hover:no-underline hover:border-secondary" >{{ tag }}</a>
                {%- endif -%}
                {% endfor %}
            {% endif %}
        <span class="inline-block ml-auto mt-auto">
            <time datetime="{{ post.date | machineDate }}">
                <span class="text-sm">{{ post.date | readableDate }}</span>
            </time>
            <a class="text-sm" href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a>
        </span>
    </div>
</article>