<article class="mb-8 lg:mr-4 lg:last:mr-0 relative flex flex-col flex-initial bg-white rounded-lg shadow-md w-full lg:w-5/16" {% if post.url == url %} data-current="current item"{% endif %}>
    <div class="relative pb-9/16">
        <a href="{{ post.url | url }}">
            <img class="absolute top-0 object-cover h-full w-full rounded-t-lg"src="{{ post.data.img }}" alt="">
        </a>
    </div>
    <h3 class="my-2 px-2 pb-0">
        <a href="{{ post.url | url }}">
            {% if post.data.title %}
                {{ post.data.title }}
            {% else %}
                Untitled
            {% endif %}
        </a>
    </h3>
    {% if post.data.summary %}
    <p class="mb-auto px-2 ">
        {{ post.data.summary }}
    </p>
    {% endif %}
    <div class="flex p-2 mt-auto items-end">
        <div class="flex">
            {% if post.data.tags %}
                {% for tag in post.data.tags %}
                {%- if tag != "post" -%}
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag" class="inline-block bg-white hover:bg-secondary h-6 px-3 mr-2 text-primary hover:text-quinary text-xs uppercase tracking-widest leading-6 border border-primary hover:border-secondary border-solid rounded-full hover:no-underline" >{{ tag }}</a>
                {%- endif -%}
                {% endfor %}
            {% endif %}
        </div>
        <div class="inline-block ml-auto">
            <time datetime="{{ post.date | machineDate }}">
                <span class="text-sm">{{ post.date | readableDate }}</span>
            </time>
            <a class="text-sm" href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a>
        </div>
    </div>
</article>