$color  : #888888;
.itaf {
    $color  : #888888;
    $bgColor: #fffdfa;
    $fontFamily: "Lucida Grande", "Trebuchet MS", sans-serif;

    .container {
        @extend .clearfix;
        display: block;
        margin: 50px auto;
        max-width: 700px;
        //background-color: white;
    }
    
    form, div, input, label {
        box-sizing: border-box;
        display: block;
    }
    
    div {
        background-color: $bgColor;
        border: 5px solid $color;
        margin: 8px;
        padding: 0;
    }

    .hidden {
        border: none;
        margin: 0;
    }
    
    label, input {
        transition: color 0.4s ease, background-color 0.1s ease-in-out;
    }
    
    label {
    //	labels are after the input in the HTML...
        color: lighten($color, 15);
        font-family: $fontFamily;
        font-size: 70%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        // ... move it up top ...
        position: absolute;
        top: 10px;
        left: 10px;
        
        // ... so that we can use a sibling selector.
        input:focus+& {
            color: darken(#0074D9, 10);
            font-weight: bold;
            letter-spacing: -0.01em;
        }
    }
    
    input {
        background-color: transparent;
        border: none;
        color: darken($color, 15);
        font-size: 18px;
        margin: 9px 0 7px 0;
        margin: 0;
        padding: 2em 10px 10px 10px;
        outline: none;
        width: 100%;
    
    }
}

