---
layout: layouts/base.njk
section: authors
permalink: /authors/index.html
---
<div class="markdown container">
    <h1>{{ title }}</h1>
    {{ layoutContent | safe }}
</div>

{% set authorslist = collections.authors %}
{% include "components/authorslist.njk" %}

