<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="grid">

		<header>
			<em class="block text-4xl font-bold not-italic">
				<div class="container">
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</div>
			</em>
			<div class="container">
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main class="pb-8"> 
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>