<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body class="grid">
		<header class="relative bg-primary shadow-md">
			<div class="container flex">
				<img class="h-12 py-2 pr-px" src="/static/img/wichita-ultimate-logo-white.png">
				<a class="text-quinary text-2xl font-thin m-auto" href="{{ '/' | url }}">{{ metadata.title }}</a>
				<div class="w-10"></div>
			</div>
			<div class="container bg-primary">
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main class="pb-8"> 
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>