---
layout: layouts/base.njk
section: home
---
{# Play Ultimate #}
<div class="container">
    <h2>Play Ultimate in Wichita!</h2>
    {% include "components/playultimate.njk" %}
</div>



{# Recent Posts #}
<div class="container">
    <h2>Recent Posts</h2>
    {% set postslist = collections.post %}
    {% set postlimit = 3 %}
    {% include "components/postslist.njk" %}
</div>

{# New To Ultimate? #}
<div class="container">
    <h2>New To Ultimate?</h2>
    {% include "components/newtoultimate.njk" %}
</div>

{# Content From Body - Mission #}
<div class="markdown container">
    {{ layoutContent | safe }}
</div>


{# Newsletter signup #}
<div class="container">
    <h2>Sign up for  our newsletter!</h2>
    <p>Want to get our posts directly in your inbox? The best way to stay up to date on Wichita Ultimate updates and events is signing for our newsletter.
    </p>
    {% include "components/newslettersignup.njk" %}
</div>