---
layout: layouts/base.njk
section: pickup
permalink: /pickup/index.html
---
<div class="markdown container">
    {{ layoutContent | safe }}
</div>

{% set pickuplist = collections.pickup %}
{% include "components/pickuplist.njk" %}

<div class="container">
    <a href="/pickup/addgame">Add new pickup game or edit one that's already submitted</a>
</div>