---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

<div class="markdown">
    {{ layoutContent | safe }}
</div>

{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
