---
layout: layouts/base.njk
section: home
---
{# Content from Body #}
{{ layoutContent | safe }}

{# Recent Posts #}
{% set postslist = collections.post %}
{% set postlimit = 3 %}
{% include "components/postslist.njk" %}
{% include "components/viewallposts.njk" %}

{# Newsletter signup #}
{% include "components/newslettersignup.njk" %}