---
layout: layouts/base.njk
section: pickup
permalink: /pickup/index.html
---
<h1>{{ title }}</h1>

<div class="markdown">
    {{ layoutContent | safe }}
</div>

{% set pickuplist = collections.pickup %}
{% include "components/pickuplist.njk" %}
{% include "components/pickupform.njk" %}