---
layout: layouts/base.njk
section: pickup
permalink: /pickup/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set pickuplist = collections.pickup-games %}
{% include "components/pickuplist.njk" %}

test